<h1>
  Movie #<%= @movie.id %> details
</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_movie/<%= @movie.id %>" class="btn btn-block btn-outline-secondary">
  Delete movie
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @movie.image %>
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <%= Director.where({ :id => @movie.director_id }).at(0).try(:name) %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.updated_at) %> ago
  </dd>
</dl>

<hr>
