<h1>List of all actors</h1>

<table border="1">

<% Actor.all.each do |a_actor| %>
  <tr>
    <td><%= a_actor.id %></td>
    <td>
      <img src="http://robohash.org/<%= a_actor.image %>">
    </td>
    <td><%= a_actor.name %></td>
    <td><%= a_actor.dob %></td>
    <td>
      <a href="/actors/<%= a_actor.id %>">
      Show details
      </a>
    </td>
  </tr>
<% end %>
</table>